body {
  /* font-size: 3vh; */
  font-size: var(--small-font-size);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  padding: 0 2% 0% 2%;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.the-logo {
  width: 10%;
  height: 10%;
}
.signIn-Button {
  border: 2px solid black;
  padding: 2vh 3vh;
  border-radius: 2vh;
  color: white;
  background: blueviolet;
}

.the-logo img {
  width: 100%;
  height: 100%;
}

.home-header-icons ul {
  display: flex;
  list-style: none;
  padding: 0% 5%;
  white-space: nowrap;
}

.home-header-icons li {
  padding: 0% 5%;
}
.home-page-middle {
  margin: 10vh 0 8vh 0;
  display: flex;
  justify-content: space-around;
}

.home-page-middle-text::before{
    padding: 2%;
    border: 1px solid black;
    background: red;
    width: 10vh;
}

.home-page-middle-text {
  padding-left: 6vh;
  border-left: 6px solid red;
}

.home-page-middle-text h1{
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* font-size: 8vh; */
  font-size: var(--large-font-size);
}

.middle-text-ptag{
    margin-top: 9vh;
}


.home-page-middle-image img {
  width: 36vw;
  height: 52vh;
  border-radius: 21vh 2vh 16vh 16vh;
}

.home-page-footer {
  padding: 4% 0 2% 0;
  display: flex;
  border: 2px solid white;
  background: rgb(234, 225, 225);
  justify-content: space-around;
  border-radius: 2vw;
}

.footer-text1 {
  width: 50vh;
  margin-left: 5vh;
  border: 2px solid black;
  border-radius: 2vh;
  background: linear-gradient(
    to bottom,
    rgb(230, 119, 45) 0%,
    rgb(207, 67, 163) 97.4%
  );
  color: white;
}

.footer-text2 {
  flex: 1;
  box-sizing: border-box;
  white-space: nowrap;
}

.footer-text2 p{
    /* font-size: 2vh; */
    font-size: var(--line-font-size);
}

.footer-text2 ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-template-rows: repeat(2, auto); /* Two rows with automatic height */
  gap: 10vh; /* Adjust the gap between items if needed */
}

.footer-text2-li{
    display: flex;
}

.footer-text2 strong{
    /* font-size: 4vh; */
    font-size: var(--medium-font-size);
    font-family: sans-serif;
}

.icon-container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 2vh;
    border-radius: 10vw;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    margin: 0 2% 0% 0;
    height: 8vh;
}

.middle-text-get-start-button{
    padding: 2vh 3vh;
    border: 1px solid black;
    background-color: #a18cd1;
    border-radius: 2vh;
    display: inline-flex;
    column-gap: 4vh;
    color: rgb(255 255 255);
}

.text-container p{
    /* font-size: 2vh; */
    font-size: var(--line-font-size);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-header-icons li.active {
  border-bottom: 2px solid red; 
  font-size: var(--medium-font-size);
  position: relative;
  font-weight: bold;
  padding-bottom: 1vh;
}

.home-header-icons li.active {
  display: flex;
}